<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SuperMarket{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/logo.png') }}">
        <script src="https://kit.fontawesome.com/08929f0771.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include "partials/header.html.twig" %}
        <main class="content-between">
            {% block body %}{% endblock %}
        </main>
        {% include "partials/footer.html.twig" %}
    </body>
</html>
